html {
  background-position: top left;
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
  background: linear-gradient(60deg, #c07af9, #0db924, #21c4ff);
  background-size: 600% 600%;
  animation: gradient 7s ease infinite;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
#message,
#player-hand-display,
#computer-hand-display {
  font-family: "Tilt Neon", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 3rem;
}

.instructions-header,
.instructions-text {
  position: absolute;
  top: 0%;
  left: 0.5%;
  font-size: 32px;
}

.instructions-text {
  top: 8%;
  font-size: 1rem;
}

li,
#balance-display {
  font-family: "Tilt Neon", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#player-hand-display,
#computer-hand-display {
  font-size: 1rem;
}

#balance-display {
  margin-top: 2px;
}

img {
  height: 15rem;
  margin: 0px 4px;
}

#message {
  margin: 0;
  padding: 0;
}

#new-game-button,
#deal-hand-button,
#hit-button,
#stay-button {
  cursor: pointer;
  padding: 5px 10px;
  line-height: 10px;
  color: #0366d6;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  border: 2px solid;
  border-radius: 6px;
  margin-top: 4px;
  box-shadow: rgba(74, 88, 103, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

#new-game-button:hover,
#deal-hand-button:hover {
  color: #ffffff;
  background-color: #495e76;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition-duration: 0.3s;
}

#deal-hand-button:hover {
  background-color: #0366d6;
  border-color: #1b304426;
}

#place-bet {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #1c1182;
  background-color: #efeeea;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}

#place-bet:hover {
  color: #241c15;
  background-color: #d9d7cd;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* iPhone Media Queries */
@media screen and (max-width: 430px) {
  body {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  h1,
  h2,
  h3,
  #message,
  #player-hand-display,
  #computer-hand-display {
    font-size: 2rem;
  }

  .instructions-header {
    font-size: 24px;
  }

  .instructions-text {
    font-size: 14px;
  }

  img {
    height: 10rem;
  }

  #new-game-button,
  #deal-hand-button,
  #hit-button,
  #stay-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .instructions {
    display: none;
  }
}

/* ----------------Code Graveyard--------------- */
/* .card {
    background-color: rgb(12, 145, 228);
    height: 15rem;
    width: 10rem;
    border-radius: 5%;
    border: 2px solid rgb(0, 0, 156);
    margin: 2px;
}

.start-button:hover {
    transition-duration: 0.4s;
    background-color: #21c4ff;
    cursor: pointer;
}

.start-button {
    width: 5rem;
    padding: 0;
    border-radius: 15%;
    border: 1.5px solid black;
    background-color: rgb(207, 138, 239);

}

.cards-and-bet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
} */

/* .player-container {
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.computer-container {
    display: flex;
}

.balance-container {
    display: flex;
    flex-direction: column;
    width: 10rem;
    position: static;
    padding-left: 20px;
    position: absolute;
}

.actions-container {
    padding-left: 1.7rem;
}

.balance {
    color: whitesmoke
} */

/* Class to show/hide elements*/
/* .hide {
    opacity: 0;
}

/* Card Tiling
.card-computer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.card-player {
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.thefront {
    backface-visibility: hidden;
    display: flex;
    flex: 1;
}

.theback {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    backface-visibility:  hidden;
    transform: rotateY(180deg);
    background-color: white;
    border-radius: 4.5%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}

.is-flipped {
    transform: rotateY(180deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-text {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 2px;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
} */
